# SPDX-FileCopyrightText: Copyright (c) 2022-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: grunt
"on":
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
concurrency:
  group: grunt-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    strategy:
      matrix:
        os: [windows-2022, ubuntu-24.04, macos-15]
        java: [17]
        node: [18]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: ${{ matrix.java }}
      - run: npm install
      - run: npx grunt
