# SPDX-FileCopyrightText: Copyright (c) 2022-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: itest
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
concurrency:
  group: itest-${{ github.ref }}
  cancel-in-progress: true
jobs:
  itest:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2022]
        java: [22]
        node: [18]
        # lang: [Java, JavaScript]
        lang: [Java]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
      - run: npm install
      - name: Run unit tests
        run: npx grunt mochacli
      - shell: bash
        run: |
          cd itest
          declare -a opts=(
            "../src/eoc.js"
            "--batch"
            "--language=${{ matrix.lang }}"
            "--easy"
            "--blind"
          )
          node "${opts[@]}" link
          node "${opts[@]}" --alone dataize program
          node "${opts[@]}" clean
          node "${opts[@]}" test
  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Install coverage tools
        run: npm install --save-dev nyc
      - name: Run tests with coverage
        run: npx nyc --reporter=lcov --reporter=text-summary grunt mochacli
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage/lcov.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
